<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<form action="" method="post">
    <p>用户名: <input type="text" name="username"></p>
    <p>密码: <input type="password" name="password"> </p>
    <input type="submit" class="btn btn-success" value="登录">&nbsp;&nbsp;&nbsp;<a type="button" href="/reg" class="btn btn-danger">注册用户</a>
</form>

</body>
</html>